@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-search{
    background-color: blue;
    width: max;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
    font-size: 18px;
}
.btn-search:hover{
    opacity: 0.7;
}

